.idea

# build tools
bower_components
node_modules

# bitbucket repository wiki is a separate repo
wiki

# build targets
_build
_dist

# build artifacts
reports
output
coverage

!.gitkeep
*.log.*
*.log

*.DS_Store


_build